$blue: #222E53;
$dark-grey: #25262E;
$dark-blue: #374E58;
$green: #297169;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&display=swap');

body {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.pink { 
  background: url('https://www.xmple.com/wallpaper/gradient-black-pink-linear-1920x1080-c2-000000-ff1493-a-240-f-14.svg');
  background-size:cover;
}

.App {
  display: flex;
  background: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 100;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background:lightblue;
  width:95%;
  height:80%;
  font-size: 2em;  
  // margin: 10px;
  // margin: 0 auto;
  .child {
    width:25%;
    height:30vh;  
    background: #222E53;  
  }
  .tall {
    height: 100%;
    width:25%;
    // flex-shrink: 1;
    background: $dark-grey;
  }
  .wide {
    width: 80%;
    height: 100%;    
  }
}

.inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  .child {
    // border: 1px solid lightblue;
    width: 25%;
    // height:50vh;  
    background: steelblue;  
  }
  .child-long {
    height: 50vh;
  }
  .wide {
    width: 75%;
    height: 100%;
  }
}

// @media screen and (max-width: 640px) {
//   body {    
//     .tall {
//       height: 10%;
//     }
//   }
// }

// @media screen and (min-width: 640px) {
//   .main-container {
//     flex-direction: row;
//     flex-wrap: wrap;
//     .tall {
//       height: 50%;
//     }
//     .child {
//       height: 50%;
//     }
//   }  
// }



